﻿.content {
	top: -9em !important;
}

.main-kurs {
	margin-top: 3.4em !important;
}

.content__category {
	top: 1.2em !important;
}

.content__header {
	padding: 1.4rem 8px 1.625rem !important;
}

.button-section__read--active {
   	top: 0.4em;
    position: relative;
    left: 0.4em;
    border: none;
    padding: 14px 34px;
    background-color: #ec4e42;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.button-section__read {
    top: 0.4em;
    position: relative;
    left: 0.4em;
    border: none;
    padding: 14px 34px;
    background-color: #ced6e0;
    color: #2f3542;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}


.button-section__watch {
	  top: 0.4em;
    position: relative;
    left: 0.9em;
    border: none;
    padding: 14px 30px;
    cursor: pointer;
    font-size: 14px;
    background-color: #ced6e0;
    text-decoration: none;
    color: #2f3542;

}

.button-section__watch--active {
    top: 0.4em;
    position: relative;
    left: 0.9em;
    border: none;
    padding: 14px 30px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    background-color: #ec4e42;
    color: #fff;


}

.button-section__listen--active {
  top: 0.4em;
    position: relative;
    left: 1.2em;
    border: none;
    padding: 14px 30px;
    cursor: pointer;
    font-size: 14px;
    background-color: #ec4e42;
    text-decoration: none;
    color: #fff;
}

.button-section__listen {
	top: 0.4em;
    position: relative;
    left: 1.2em;
    border: none;
    padding: 14px 30px;
    cursor: pointer;
    font-size: 14px;
    background-color: #ced6e0;
    text-decoration: none;
    color: #2f3542;
}

.main-kurs__img {
	margin-top: 14px;
	margin-bottom: 14px;
}

.main-kurs__header {
	margin-top: -12px;
	font-weight: 800;
	margin-bottom: 35px;
}

.main-kurs__header--watch {
  margin-top: 12px;
  font-weight: 800;
  margin-bottom: 20px;  
}

.main-kurs__header--intext {
	margin-top: 12px;
	font-weight: 800;
	margin-bottom: 12px;

}

.main-kurs__image {
	width: 65%;
	height: 270px;
}
.main-kurs__sign {
	color: #a4b0be;
	font-size: 14px;
	font-weight: unset;
	font-style: italic;
	margin-left: 10em;
}

.content__category--next {
  position: relative;
  top: 2em;
  left: 1em;
  color: #ec4e42;
  font-size: 14px;
  font-style: normal;
  float: right;
}

.kurs-menu__header {
  padding-bottom: 1em !important;
  margin-bottom: 1em !important;
}

.kurs-menu__list > .kurs-menu__item {
   padding-bottom: 0.7em !important;
   margin-bottom: 0.9em !important;
}

.kurs-menu__list .kurs-menu__item .kurs-menu__link {
    font-size: 15px !important;
 }



