* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.kursomir__header {
  min-height: 80px;
}

.menu {
    width: 960px;
    min-height: 80px;
    position: relative;
    top: 50%;
    transform: translate(-50%, 0%);
    left: 50%;
}

.menu_link {
  text-decoration: none;
  color: #333333;
  top: 4px;
  left: 24em;
  position: relative;
  padding: 0 10px;
}

.menu_link:hover {
  color: #ec4e42;
}

.menu_logo {
  position: relative;
  width: 158px;
  height: 42px;
  right: 35%;
  top: 13px;
}

.slider {
  min-height: 400px;
  background-image: url(../img/12.jpg);
  background-size: cover;
  background-position: 50% 38%;
}

.content {
  width: 960px;
  min-height: 80px;
  margin: auto;
  background: #fff;
  position: relative;
  top: -80px;
}

.subheader {
  position: relative;
  left: 65px;
  top: 45px;
  font-size: 30px;
  font-weight: bold;
}

.hero {
  color: #ec4e42;
}

.hero_h, .hero_link {
  font-size: 35px;
  text-decoration: none;
  color: #fff;
}

.bg-layer--1 {
  min-height: 300px;
  width: 862px;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -15%);
  position: relative;
  background-image: url(../img/13.jpg);
  background-size: cover;
  background-position: center center;
}

.bg-layer--2 {
    position: relative;
    color: white;
    top: 45px;
    left: 25px;
}

.education-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 960px;
  left: 13em;
  bottom: 38px;
}

.subject {
  font-size: 12px;
  left: 8px;
  position: relative;
  top: 8px;
  color: #ec4e42;
  left: 25px;
  font-weight: 200;
}

.subject_p {
  font-size: 14px;
  position: relative;
  top: 8px;
  color: #000;
  font-weight: 600;
  left: 25px;
  width: 257px;
}

.subject_p, .subj_ap {
  text-decoration: none;
}

.education-gallery .education_col > img {
  display: block;
  width: 264px;
  height: 170px;
}

.education-gallery .education_col {
  position: relative;
  margin: 10px 16px;
  flex-basis: 264px;
  cursor: pointer;
  box-shadow: 
      0 1px 3px rgba(0,0,0, 0.12),
      0 1px 2px rgba(0,0,0, 0.24); 
}

.education-gallery .education_col:hover {
  bottom: 5px;
    box-shadow: 
      0 2px 10px rgba(0,0,0, 0.12),
      0 2px 8px rgba(0,0,0, 0.24); 
}

.education-gallery .education_col p {
  margin-bottom: 20px;
}

.education-gallery .education_col p a {
  text-decoration: none;

}

.all_kurs {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 16px 35px;
  text-transform: uppercase;
  background-color: #ec4e42;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.all_kurs:hover {
  bottom: 5px;
   box-shadow: 
     0 2px 10px rgba(0,0,0, 0.12),
     0 2px 8px rgba(0,0,0, 0.24);
}

.news {
  background-color: #dfe4ea;
  width: 100%;
  max-width: 113rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10em;
  width: 80em;
}

.new_li {
  height: 140px;
  width: 224px;
  margin-left: 6em;
}

.news_item {
  text-decoration: none;
  color: #000;
}

.news_item:hover {
  color: #ec4e42;
}

.news_data {
  margin-bottom: 1px;
  color: #636e72;
  font-size: 12px;
  font-style: normal;
}

.news_p {
  color: #636e72;
  font-weight: 100;
  font-stretch: ultra-condensed;
}

h4 {
    margin-bottom: 7px;
    margin-top: 7px;
}

.partners {
  width: 100%;
  max-width: 113rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.partners_list, .partners_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 18px;
  width: 960px;
  position: relative;
  left: 5em;
}

.partners_item {
  margin-left: 4em;
}

.partner {
  height: 140px;
  width: 224px;
}

.h_item {
  position: relative;
  left: 14em;
  margin-bottom: 2em;
  margin-top: 2em;
}

