* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.slider {
  min-height: 400px;
  background-image: url(../img/12.jpg);
  background-size: cover;
  background-position: 50% 38%;
}

.kursomir__header {
  width: 960px;
  margin: 0 auto;
}

.kursomir__header:after {
  content: '';
  clear: both;
  display: block;
}

.logo__link {
  float: left;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
}

.logo {
  height: 42px;
  margin: 21px 0;
}

.menu {
    float: right;
}

.menu__link {
  text-decoration: none;
  color: #333333;
  padding: 2em 1.5em;
  display: inline-block;
}

.menu__link:hover {
  color: #ec4e42;
}

.content {
  width: 1024px;
  min-height: 80px;
  margin: 0 auto;
  padding: 0 2.5em;
  background: #fff;
  position: relative;
  top: -5em;
}

.content__header {
  font-size: 2em;
  padding: 3rem 0 2.625rem;
  font-weight: bold;
  color: #333;
  line-height: 1;
}

.course-hero {
  min-height: 320px;
  width: 100%;
  background-image: url(../img/13.jpg);
  background-size: cover;
  background-position: center center;
  padding: 4em 2em;
}

.course-hero__category {
  color: #ec4e42;
  font-size: 14px;
  font-weight: 500;
}

.course-hero__link {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
}

.course-hero__description {
  width: 450px;
  margin-top: 1em;
  color: #fff;
}

.course__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.course {
  position: relative;
  width: 300px;
  cursor: pointer;
  box-shadow: 
      0 1px 3px rgba(0,0,0, 0.12),
      0 1px 2px rgba(0,0,0, 0.24);
  transition: .5s all;
  margin-top: 1em;
}

.course:hover {
  transform: translateY(-5px);
  box-shadow: 
    0 2px 10px rgba(0,0,0, 0.12),
    0 2px 8px rgba(0,0,0, 0.24); 
}

.course__img {
  display: block;
  width: 100%;
  height: 200px;
}

.course__details {
  padding: 1em;
}

.course__title {
  margin-bottom: 20px;
}

.course__link {
  text-decoration: none;
}

.course__category {
  color: #ec4e42;
  font-size: 0.875em;
}

.course__title {
  color: #000;
  font-weight: bold;
  color: #333;
}

.btn__all-kurs {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  border: none;
  padding: 16px 35px;
  text-transform: uppercase;
  background-color: #ec4e42;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 7em;
  margin-top: 15px;
  font-size: 16px;
}

.btn__all-kurs:hover {
  bottom: 1px;
   box-shadow: 
     0 2px 10px rgba(0,0,0, 0.12),
     0 2px 8px rgba(0,0,0, 0.24);
}

.news-section {
  background-color: #dfe4ea;
  width: 100%;
  max-width: 113rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-section__row {
  width: 826px;
  margin: 0 auto;
}

.news-section__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10em;
}

.news-section__col {
  height: 140px;
  width: 224px;
  margin-left: 6em;
}

.news-section__col:first-of-type {
  margin-left: 0;
}

.news__link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.news__link:hover {
  color: #ec4e42;
}

.news__date {
  margin-bottom: 1px;
  color: #636e72;
  font-size: 12px;
  font-style: normal;
}

.news__content {
  color: #636e72;
  font-weight: 100;
  font-stretch: ultra-condensed;
  font-size: 14px;
}

h4 {
    margin-bottom: 7px;
    margin-top: 7px;
    font-size: 16px;
}

.partners-section {
  width: 100%;
  max-width: 113rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.partners-section__row {
  width: 826px;
  margin: 0 auto;
}

.partners-section__list, .partners-section__col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 18px;
  width: 826px;
  position: relative;
}

.partners-section__col {
  margin-left: 4em;
}

.partners-section__col:first-of-type {
  margin-left: 0;
}

.partner__img-logo {
  height: 150px;
  width: 250px;
}

.news-section__header {
  position: relative;
  margin-bottom: 1em;
  margin-top: 3em;
  font-size: 20px;
  font-family: 'Gotham Pro';
}
